/* body classes definitions */
body { 
	background-color: black;
	background-repeat: repeat-y;
	font-family : Calibri, Arial, Verdana;
	   color : #eeeeee;
	   font-weight : normal;
}

a:link { color: #eeeeee; text-decoration: none; } 
a:visited { color: #eeeeee; text-decoration: none; } 

.green {
	background-image: url(grid-green.png);
}

.yellow {
	background-image: url(grid-yellow.png);
}

.red {
	background-image: url(grid-red.png);
}

.purple {
	background-image: url(grid-purple.png);
}

.blue {
	background-image: url(grid-blue.png);
}

.clear {
	background-image: url(grid-clear.png);
}

.header-name {
        font-family : Calibri, Arial, Verdana;
           font-size : 18px;
           color : #c0c0c0;
           font-weight : normal;
}
.refresh-date {
        font-family : Calibri, Arial, Verdana;
           font-size : 18px;
           color : #c0c0c0;
           font-weight : normal;
}

/* The following webkit stuff is for the custom scrollbar */
::-webkit-scrollbar {
        width: 8px;
        height: 8px;
}
::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #000000; 
        -webkit-border-radius: 6px;
        border-radius: 6px;
}
::-webkit-scrollbar-thumb {
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: #303030; 
        -webkit-box-shadow: inset 0 0 6px #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
        background: #303030; 
}

img[alt*="graph"] { 
 border-radius: 20px; 
}
img[alt*="Zoom"] { 
 border-radius: 20px; 
}
