/* body classes definitions */
body { 
        background-color: black;
        background-repeat: repeat-y;
        font-family : Calibri, Arial, Verdana;
           color : #c0c0c0;
           font-weight : normal;
}

a:link { color: #c0c0c0; text-decoration: none; } 
a:visited { color: #c0c0c0; text-decoration: none; } 

.green {
        background-image: url(metal-black.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.yellow {
        background-image: url(metal-black.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.red {
        background-image: url(metal-black.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.purple {
        background-image: url(metal-black.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.blue {
        background-image: url(metal-black.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.clear {
        background-image: url(metal-black.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


.header-name {
        font-family : Calibri, Arial, Verdana;
           font-size : 18px;
           color : #c0c0c0;
           font-weight : normal;
}
.refresh-date {
        font-family : Calibri, Arial, Verdana;
           font-size : 18px;
           color : #c0c0c0;
           font-weight : normal;
}


/* The following webkit stuff is for the custom scrollbar */
::-webkit-scrollbar {
        width: 8px;
        height: 8px;
}
::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #000000; 
        -webkit-border-radius: 6px;
        border-radius: 6px;
}
::-webkit-scrollbar-thumb {
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: #303030; 
        -webkit-box-shadow: inset 0 0 6px #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
        background: #303030; 
}

img[alt*="graph"] { 
 border-radius: 20px; 
}
img[alt*="Zoom"] { 
 border-radius: 20px; 
}

